<table>
	<thead>
		<tr>
			<th>When using this interface:</th>
			<th>Use this data format:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="../interfaces/cli">Command-line interface</a></td>
			<td>{{ include.cli | markdownify | remove: "<p>" | remove: "</p>" }}</td>
		</tr>
		<tr>
			<td><a href="../interfaces/api">Python API</a></td>
			<td>{{ include.api | markdownify | remove: "<p>" | remove: "</p>" }}</td>
		</tr>
		<tr>
			<td><a href="../interfaces/microservice">gRPC Microservice</a></td>
			<td><em>{{ include.rpc | markdownify | remove: "<p>" | remove: "</p>" }}</em></td>
		</tr>
	</tbody>
</table>