.project-switcher select
{
	margin: 0.5rem 1rem;
	margin-right: $sidebar-padding;
}

header
{
	background-image: url(../images/hex-gradient-bg.jpg);
	background-size: cover;
}

.site-root body, header, header .navtoggle a, header .navtoggle a:hover, header .to-top a, header .to-top a:hover {
	color: #fff;
}

.site-root body {
	text-align: center;
}

.site-root .logo
{
	margin: 0;
	padding: 4rem 0;
}

.site-root .logo img
{
	max-width: 90%;
	width: 40rem;
}

.site-root .project-cards {
	padding-bottom: 4rem;
}

.site-root .project-card
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	border: 1px solid rgb(212, 218, 223);
	background-color: #fafafa;
	color: #000;
	padding: 2rem;
}

.site-root .project-card .icon
{
	flex-grow: 0;
	font-size: 4rem;
	padding-bottom: 1rem;
}

.site-root .project-card:hover {
	text-decoration: none;
}

.site-root .project-card .details p {
	margin: 0;
}

.site-root .project-card .details p:first-child
{
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.conan-ue4cli .icon
{
	--fa-primary-color: #d2691e;
	--fa-secondary-color: #b22222;
	--fa-secondary-opacity: 1.0;
}

.gen-invoice .icon {
	color: rgb(131,200,26);
}

.ue4cli .icon {
	color: rgb(33, 37, 41);
}

.ue4-docker .icon
{
	--fa-primary-color: #066da5;
	--fa-secondary-color: #099cec;
	--fa-secondary-opacity: 1.0;
}

article ul li p + ul {
	margin-bottom: 2rem;
}
