{% assign projects = site.documents | where: "collection", site.theme-settings.collection | where_exp: "page", "page.chapnum == null" %}
<p class="chapter">Project</p>
<ul>
	<li class="project-switcher">
		<select>
			{% for project in projects %}
			<option value="{{ project.subsite | escape }}"{% if project.subsite == page.subsite %} selected{% endif %}>{{ project.subsite | escape }}</option>
			{% endfor %}
		</select>
	</li>
</ul>
