<!doctype html>
<html lang="en" class="site-root">
	<head>
		{% include internal/meta.html %}
		
		<title>{{ site.title | escape }}</title>
		
		{% include hooks/head-posthook.html %}
	</head>
	
	<body>
		
		<div class="root-wrapper">
			<p class="logo"><img src="{{ "/" | relative_url }}assets/images/logo.svg" alt="Adam Rehn Docs"></p>
			
			<div class="project-cards container">
				
				{% for project in site.data.common.projects %}
					{% if project[1].external != true %}
						<a href="{{ "/" | relative_url }}{{ project[0] | uri_escape }}" class="project-card {{ project[0] | escape }}">
							<div class="icon">
								<span class="fa-fw {{ project[1].icon | escape }}"></span>
							</div>
							<div class="details">
								<p>{{ project[0] | escape }}</p>
								<p>{{ project[1].blurb | escape }}</p>
							</div>
						</a>
					{% endif %}
				{% endfor %}
				
			</div>
		</div>
		
	</body>
</html>
